@page "/pong"
@using AmatoFluent.ViewModels
@inject PongViewModel ViewModel
@implements IDisposable

<PageTitle>Pong con SkiaSharp</PageTitle>

<h1>Pong in Blazor Wasm</h1>
<p>Test di canvas SkiaSharp con pallina rimbalzante.</p>

<div style="width: 800px; height: 600px; border: 1px solid black; background-color: #eee;">
    <SKCanvasView @ref="_canvas" IgnorePixelScaling="true" />
</div>

@code {
    private bool isDisposed;
    private SKCanvasView _canvas;
    protected override void OnInitialized()
    {
        ViewModel.OnStateChanged += HandleStateChanged;

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ViewModel.Configure(_canvas);
            ViewModel.Start();
        }
    }

    private void HandleStateChanged()
    {
        // if (!isDisposed)
        // {
        //     InvokeAsync(StateHasChanged);
        // }
    }

    public void Dispose()
    {
        isDisposed = true;
        ViewModel.OnStateChanged -= HandleStateChanged;
    }
}
