@page "/AsciiArt"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <p class="lead">
        This is me and I'm currently obsessed with ASCII art algorithms, especially when the characters are Braille.
    </p>
    <div class="d-inline-block bg-dark text-white p-3">

        <p class="small lh-1 m-0">
            @AmatoSplash.src.WebData.AmatoBraille
        </p>

    </div>

</div>