@page "/CV"

<PageTitle>CV</PageTitle>

<iframe src="AmatoCV.pdf" width="100%" height="1024px" style="border: 1px solid grey;">
    <p>Sorry, try to download here: <a href="AmatoCV.pdf">click here</a>.</p>
</iframe>

